body{
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}
.container{
    margin-top: 50px;
}
input{
    padding: 10px;
    width: 250px;
}
button{
    padding: 10px;
}
li{
    list-style: none;
    margin: 10px;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.container {
    background: white;
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin-left: 10px;
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.done {
    text-decoration: line-through;
    color: gray;
}
